{% extends 'core/panel.html' %}

{% load core_extras %}

{% block title %}Home{% endblock %}

{% block left_panel_links %}
    <li class="mb-4 text-gray-300"><span class="text-1xl font-bold text-gray-500">Altenative versions of built-in HotA templates:</span>
        {% table_of_contents builtin_templates %}
    </li>
    <li class="text-gray-300"><span class="text-1xl font-bold text-gray-500">Original templates for HotA:</span>
        {% table_of_contents original_templates %}
    </li>
{% endblock %}

{% block panel_content %}
    <div class="flex flex-col items-center mt-8">
        <h1 class="tablet:text-2xl text-xl font-bold pb-4 border-b-4 border-gray-500 w-full text-center">Heroes of Might and Magic III: Horn of the Abyss random maps' template list</h1>
        <h2 class="text-lg tablet:text-xl font-bold pl-4 mt-4 w-full">Altenative versions of built-in HotA templates:</h2>
        {% for template in builtin_templates %}
            {% template_entry template "builtin" %}
        {% endfor %}
        <h2 class="text-lg tablet:text-xl font-bold pl-4 mt-8 w-full">Original templates for HotA:</h2>
        {% for template in original_templates %}
            {% template_entry template "original" %}
        {% endfor %}
    </div>
{% endblock %}